// Fonts
$font-hind-vadodara: "Hind Vadodara";
$default-font-size: 1.6rem;

// Colors
$primary-color: #494949;
$secondary-color: #0062ae;
$background-color: #f2f2f2;
$background-white: #fff;

// Text-Colors
$text-primary-color: #494949;
$text-secondary-color: #0062ae;

// Borders
$secondary-border: 1px solid #0062ae;
// Box-shadow

$primary-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);


// Custom-grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
