@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@400;500;600&display=swap");

/* GENERAL */

html {
  font-size: 62.5%; // 10px
  font-family: $font-hind-vadodara;

  // @include respond(huge) {
  //   font-size: 50%; // 8px
  // }
  @include respond(big) {
    font-size: 50%; // 8px
  }

  @include respond(medium) {
    font-size: 57%; // 8.8px
  }

  @include respond(small) {
    font-size: 55%; // 8.8px
  }
}

.input__label {
  font-size: 1.6rem;
  font-weight: 300;
  color: $primary-color;
}